---
// @ts-nocheck
import BarLayout from "@layouts/BarLayout.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.timestamp - a.data.timestamp
);

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((p) => ({
    params: {
      timestamp: p.data.timestamp,
      slug: p.slug,
    },
  }));
}

const { slug } = Astro.params;
const currentPost = posts.find((p) => p.slug == slug)!;
const { Content } = await currentPost.render();
---

<script>
  // @ts-nocheck
  let scrollTop = 0;
  let scrollLeft = 0;
  document.addEventListener("astro:before-swap", (event) => {
    scrollTop = blogSidebar.scrollTop;
    scrollLeft = blogSidebar.scrollLeft;
  });

  document.addEventListener("astro:after-swap", () => {
    blogSidebar.scrollTop = scrollTop;
    blogSidebar.scrollLeft = scrollLeft;
  });
</script>

<BarLayout description={currentPost.data.title}>
  <div class="grid place-items-center w-full h-full">
    <div class="flex flex-col md:flex-row md:gap-2 h-full md:h-90vh">
      <div class="w-full md:w-80 bg-[#1a1919]">
        <div class="bg-[#85EFAC] h-2 hidden md:block"></div>
        <div
          transition:animate="none"
          id="blogSidebar"
          class="flex md:(flex-col max-h-80vh h-80vh) max-w-100vw p-2 gap-2 overflow-scroll"
        >
          {
            posts.map((p) => (
              <a
                href={`/blog/${p.data.timestamp}/${p.slug}`}
                class={`sidebar-item ${p.slug == slug ? "bg-[#a6f1c1]" : "bg-[#85EFAC]"} hover:bg-[#a6f1c1] max-h-20 flex-shrink-0 text-[#1A1919] font-bold p-2 text-center`}
              >
                {p.data.title}
              </a>
            ))
          }
        </div>
      </div>
      <div class="md:w-270 h-full bg-[#1a1919] post-body">
        <div class="bg-[#85EFAC] h-2"></div>
        <div transition:animate="fade" class="p-2 md:h-90vh overflow-scroll">
          <div class="text-3xl">{currentPost.data.title}</div>
          <small class="underline"
            >timestamp - {currentPost.data.timestamp}</small
          >
          <div class="post-content text-xl mt-2">
            <Content />
          </div>
        </div>
      </div>
    </div>
  </div>
</BarLayout>

<style is:global>
  h1, h2, h3, h4, h5, h6 {
    text-decoration: underline;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 1rem;
  }

  small {
    font-size: smaller;
    color: #3a3a3a;
  }

  code {
    background-color: #3a3a3a;
  }

  li::before {
    content: "• "
  }

  /* i keep having to fucking undo tailwind resets, this surely won't get annoying extremely quickly */
  p {
    display: block;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
  }

  /* fuck you lith */
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: underline;
    color: #85efac;
  }

  .sidebar-item {
    text-decoration: none;
    text-decoration: -moz-none;
  }

  /* Regular */
  @font-face {
    font-family: "iA Writer Duospace";
    src: url("/fonts/iAWriterDuospace-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
  }

  /* Bold */
  @font-face {
    font-family: "iA Writer Duospace";
    src: url("/fonts/iAWriterDuospace-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
  }

  /* Italic */
  @font-face {
    font-family: "iA Writer Duospace";
    src: url("/fonts/iAWriterDuospace-RegularItalic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
  }

  /* Bold Italic */
  @font-face {
    font-family: "iA Writer Duospace";
    src: url("/fonts/iAWriterDuospace-BoldItalic.otf") format("opentype");
    font-weight: bold;
    font-style: italic;
  }

  .post-body {
    font-family: "iA Writer Duospace";
  }
</style>
